@model List<ProductModel>
@{
    ViewData["Title"] = "Carrinho de Compras";
}


<section style="width:100%; min-height:600px; display:flex; align-items:center; flex-direction:column;">

    <div style="margin-bottom:2rem; margin-top:2rem;">
        <h1>Cesta Básica</h1>
    </div>

    <div style="width:80%; background:#EDEDED; height:auto; padding:20px; box-shadow:1px 1px 6px 1px rgba(0,0,0,0.2);" class="pv_wrapperProducts">
        @await Html.PartialAsync("_ShopCartPartial", Model)
    </div>

</section>

