/Ambiente de Impressão/
/Ambiente de Rede/
/Configurações Locais/
/Cookies/
/Dados de Aplicativos/
/Menu Iniciar/
/Meus Documentos/
/Modelos/
/Recent/
/SendTo/

.vs/
appsettings.json
bin/
obj/

*.log
*.tmp
*.lock
Thumbs.db

packages/

*.zip
*.tar.gz
*.dll
*.exe

*.pfx
*.pem