
@model LoginModel
@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Login";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-primary position-relative d-flex align-items-center justify-content-center popUp-section" role="alert">
        <button type="button" class="btn btn-secondary btn-sm close-alert" aria-label="Close">X</button>
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErroMessage"] != null)
{
    <div class="alert alert-danger position-relative  d-flex align-items-center popUp-section" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
        @TempData["ErroMessage"]
    </div>
}


<scrtion class="container" style="width:100%; height:600px; display:flex; align-items:center; justify-content:center;
background:#eee;">
<form style="width:400px;"
    asp-controller="Login"
    asp-action="Logar"
    method="post">
    
    <div data-mdb-input-init class="form-outline mb-4">
        <label class="form-label" for="form2Example1">Login</label>
        <input type="text" id="login" class="form-control" asp-for="Login" />
        <p class="text-danger text-sm">@Html.ValidationMessageFor(x => x.Login)</p>
    </div>

 
    <div data-mdb-input-init class="form-outline mb-4">
        <label class="form-label" for="form2Example2">Senha</label>
        <input type="password" id="password" class="form-control" asp-for="Password" />
       <p class="text-danger text-sm">@Html.ValidationMessageFor(x => x.Password)</p>
    </div>

    <button type="submit" class="btn btn-primary btn-block mb-4">Logar</button>

    <div class="row mb-4">
        <div class="col">
            <a href="#!">Esqueceu a senha?</a>
        </div>
    </div>

    <div class="text-center">
        <p>Não possui conta ainda? <a href="#!">Criar</a></p>
    </div>
</form>
</scrtion>