@model UserModel


<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MercadoSocial</a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="navbar-collapse collapse" style="display:flex; justify-content:space-around; align-items:center;">

    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">Produtos</a>
        </li>

        @if (Model.Perfil == MercadoSocial.Enums.PerfilEnum.admin)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">Usuários</a>
            </li>
        }

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Logout">Sair</a>
        </li>
    </ul>

    <div style="width:120px; display:flex; justify-content:center; position:relative;">
        <div>
            <a asp-controller="Product" asp-action="ShopCart">
                <img src="~/Assets/carrinho.png"
                     alt="carrinho-de-compras"
                     width="32" height="32"
                     style="cursor:pointer;"
                     id="imgShopCart" />
            </a>
            <p id="countShopCart" style="position:absolute; top:0; right:30px;">0</p>
        </div>
    </div>

</div>

