@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Página Restrita!";
}

<h4>Você não possui permissão para acessar essa funcionalidade! 
     <a asp-action="Index" asp asp-controller="Home">Clique aqui para retornar para a <strong>Home</strong></a>
</h4>
